.version.index /* version checker */
{
	color: #000015;
	background-color: #0E3F14;
}

.html
{
	background: #FFFFFF url("../images/web_background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -7px;
	padding-bottom: 14px;
}

#u879
{
	z-index: 57;
	width: 440px;
	margin-left: 263px;
}

#pu153
{
	width: 0.01px;
	margin-left: -92px;
	margin-top: 62px;
}

#u153
{
	z-index: 12;
	width: 1246px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

._u153.f3s_mid
{
	width: 1246px;
	height: 37px;
}

._u153.f3s_top,._u153.f3s_bot
{
	width: 1246px;
	height: 12px;
}

#menuu396
{
	z-index: 13;
	width: 1245px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u504
{
	width: 309px;
	min-height: 54px;
	margin-right: -10000px;
}

#u505
{
	z-index: 16;
	width: 309px;
	height: 54px;
	margin-right: -10000px;
}

#pu505:hover ._u505.f3s_top
{
	width: 309px;
	height: 7px;
}

#pu505:active ._u505.f3s_top
{
	width: 309px;
	height: 7px;
}

#pu505:hover ._u505.f3s_mid
{
	width: 309px;
	height: 40px;
}

#pu505:active ._u505.f3s_mid
{
	width: 309px;
	height: 40px;
}

#pu505.MuseMenuActive ._u505.f3s_mid
{
	width: 309px;
	height: 40px;
}

#pu505.MuseMenuActive ._u505.f3s_top,#pu505:hover ._u505.f3s_bot
{
	width: 309px;
	height: 7px;
}

#pu505:active ._u505.f3s_bot
{
	width: 309px;
	height: 7px;
}

#pu505.MuseMenuActive ._u505.f3s_bot
{
	width: 309px;
	height: 7px;
}

#u508-4_clip
{
	width: 51px;
	height: 22px;
}

#u508-4
{
	margin-right: -10000px;
	top: 16px;
	left: 129px;
}

#pu505:hover #u508-4,#pu505:active #u508-4,#pu505.MuseMenuActive #u508-4
{
	margin-right: -10000px;
	top: 9px;
	left: 129px;
}

#pu505:hover #u505,#pu505:active #u505,#pu505.MuseMenuActive #u505
{
	width: 309px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u491
{
	width: 314px;
	min-height: 54px;
	margin-right: -10000px;
	left: 311px;
}

#u492
{
	z-index: 26;
	width: 314px;
	height: 54px;
	margin-right: -10000px;
}

#pu492:hover ._u492.f3s_top
{
	width: 314px;
	height: 7px;
}

#pu492:active ._u492.f3s_top
{
	width: 314px;
	height: 7px;
}

#pu492:hover ._u492.f3s_mid
{
	width: 314px;
	height: 40px;
}

#pu492:active ._u492.f3s_mid
{
	width: 314px;
	height: 40px;
}

#pu492.MuseMenuActive ._u492.f3s_mid
{
	width: 314px;
	height: 40px;
}

#pu492.MuseMenuActive ._u492.f3s_top,#pu492:hover ._u492.f3s_bot
{
	width: 314px;
	height: 7px;
}

#pu492:active ._u492.f3s_bot
{
	width: 314px;
	height: 7px;
}

#pu492.MuseMenuActive ._u492.f3s_bot
{
	width: 314px;
	height: 7px;
}

#u493-4_clip
{
	width: 57px;
	height: 22px;
}

#pu492:hover #u492,#pu492:active #u492,#pu492.MuseMenuActive #u492
{
	width: 314px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u450
{
	width: 294px;
	min-height: 54px;
	margin-right: -10000px;
	left: 627px;
}

#u453
{
	z-index: 36;
	width: 294px;
	height: 54px;
	margin-right: -10000px;
}

#pu453:hover ._u453.f3s_top
{
	width: 294px;
	height: 7px;
}

#pu453:active ._u453.f3s_top
{
	width: 294px;
	height: 7px;
}

#pu453:hover ._u453.f3s_mid
{
	width: 294px;
	height: 40px;
}

#pu453:active ._u453.f3s_mid
{
	width: 294px;
	height: 40px;
}

#pu453.MuseMenuActive ._u453.f3s_mid
{
	width: 294px;
	height: 40px;
}

#pu453.MuseMenuActive ._u453.f3s_top,#pu453:hover ._u453.f3s_bot
{
	width: 294px;
	height: 7px;
}

#pu453:active ._u453.f3s_bot
{
	width: 294px;
	height: 7px;
}

#pu453.MuseMenuActive ._u453.f3s_bot
{
	width: 294px;
	height: 7px;
}

#u456-4_clip
{
	width: 37px;
	height: 22px;
}

#pu453:hover #u453,#pu453:active #u453,#pu453.MuseMenuActive #u453
{
	width: 294px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u1995
{
	width: 322px;
	min-height: 54px;
	margin-right: -10000px;
	left: 923px;
}

#pu505,#pu492,#pu453,#pu1998
{
	width: 0.01px;
}

#u1998
{
	z-index: 46;
	width: 322px;
	height: 54px;
	margin-right: -10000px;
}

#pu1998:hover ._u1998.f3s_top
{
	width: 322px;
	height: 7px;
}

#pu1998:active ._u1998.f3s_top
{
	width: 322px;
	height: 7px;
}

#pu1998:hover ._u1998.f3s_mid
{
	width: 322px;
	height: 40px;
}

#pu1998:active ._u1998.f3s_mid
{
	width: 322px;
	height: 40px;
}

#pu1998.MuseMenuActive ._u1998.f3s_mid
{
	width: 322px;
	height: 40px;
}

#pu1998.MuseMenuActive ._u1998.f3s_top,#pu1998:hover ._u1998.f3s_bot
{
	width: 322px;
	height: 7px;
}

#pu1998:active ._u1998.f3s_bot
{
	width: 322px;
	height: 7px;
}

#pu1998.MuseMenuActive ._u1998.f3s_bot
{
	width: 322px;
	height: 7px;
}

#u2000-4_clip
{
	width: 65px;
	height: 22px;
}

#u493-4,#u456-4,#u2000-4
{
	margin-right: -10000px;
	top: 16px;
	left: 128px;
}

#pu492:hover #u493-4,#pu492:active #u493-4,#pu492.MuseMenuActive #u493-4,#pu453:hover #u456-4,#pu453:active #u456-4,#pu453.MuseMenuActive #u456-4,#pu1998:hover #u2000-4,#pu1998:active #u2000-4,#pu1998.MuseMenuActive #u2000-4
{
	margin-right: -10000px;
	top: 9px;
	left: 128px;
}

#pu1998:hover #u1998,#pu1998:active #u1998,#pu1998.MuseMenuActive #u1998
{
	width: 322px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#slideshowu891
{
	z-index: 59;
	width: 0.01px;
	height: 437px;
	margin-left: 574px;
	margin-top: 23px;
}

#u909popup
{
	z-index: 60;
}

#u909
{
	width: 480px;
	height: 360px;
	top: 37px;
	left: 73px;
}

#u910
{
	z-index: 61;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u953
{
	z-index: 63;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u953_img
{
	margin-top: -6px;
	margin-bottom: -6px;
}

#u968
{
	z-index: 65;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u983
{
	z-index: 67;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u998
{
	z-index: 69;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u998_img
{
	margin-top: -1px;
	margin-bottom: -2px;
}

#u1013
{
	z-index: 71;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u1028
{
	z-index: 73;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u953_clip,#u998_clip,#u1028_clip
{
	width: 480px;
	height: 360px;
}

#u1028_img
{
	margin-top: -41px;
	margin-bottom: -41px;
}

#u1043
{
	z-index: 75;
	width: 480px;
	height: 360px;
	margin-right: -10000px;
}

#u893popup
{
	z-index: 77;
}

#u893
{
	width: 76px;
	padding-bottom: 7px;
}

#u896
{
	z-index: 78;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	left: 8px;
}

#u896.SSSlideLinkSelected
{
	margin: 0px -10000px 0px 0px;
}

#u956
{
	z-index: 80;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 8px;
}

#u956.SSSlideLinkSelected
{
	margin: 55px -10000px 0px 0px;
}

#u956_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u971
{
	z-index: 82;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 110px;
	left: 8px;
}

#u971.SSSlideLinkSelected
{
	margin: 110px -10000px 0px 0px;
}

#u986
{
	z-index: 84;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 165px;
	left: 8px;
}

#u986.SSSlideLinkSelected
{
	margin: 165px -10000px 0px 0px;
}

#u1001
{
	z-index: 86;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 220px;
	left: 8px;
}

#u1001.SSSlideLinkSelected
{
	margin: 220px -10000px 0px 0px;
}

#u1016
{
	z-index: 88;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 275px;
	left: 8px;
}

#u1016.SSSlideLinkSelected
{
	margin: 275px -10000px 0px 0px;
}

#u1031
{
	z-index: 90;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 8px;
}

#u1031.SSSlideLinkSelected
{
	margin: 330px -10000px 0px 0px;
}

#u956_clip,#u1031_clip
{
	width: 60px;
	height: 45px;
}

#u1031_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u1046
{
	z-index: 92;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 385px;
	left: 8px;
}

#u1046.SSSlideLinkSelected
{
	margin: 385px -10000px 0px 0px;
}

#u900popup
{
	z-index: 94;
}

#u900
{
	width: 349px;
	top: 397px;
	left: 73px;
}

#u901-4
{
	z-index: 95;
	margin-right: -10000px;
}

#u959-5
{
	z-index: 99;
	margin-right: -10000px;
}

#u974-4
{
	z-index: 104;
	margin-right: -10000px;
}

#u989-4
{
	z-index: 108;
	margin-right: -10000px;
}

#u1004-4
{
	z-index: 112;
	margin-right: -10000px;
}

#u1019-4
{
	z-index: 116;
	margin-right: -10000px;
}

#u1034-4
{
	z-index: 120;
	margin-right: -10000px;
}

#u1049-4
{
	z-index: 124;
	margin-right: -10000px;
}

#u908-4popup
{
	z-index: 128;
}

#u908-4
{
	width: 48px;
	min-height: 20px;
	padding: 10px;
	top: 397px;
	left: 454px;
}

#u916-4popup
{
	z-index: 132;
}

#u916-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 397px;
	left: 423px;
}

#u905-4popup
{
	z-index: 136;
}

#u905-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 397px;
	left: 523px;
}

#pu86
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -396px;
}

#u86
{
	z-index: 2;
	width: 255px;
	margin-right: -10000px;
	margin-top: 50px;
}

#u86_clip
{
	width: 255px;
	height: 255px;
}

#u86_img
{
	margin-bottom: -1px;
}

#u92-4
{
	z-index: 4;
	margin-right: -10000px;
}

#u94-4
{
	z-index: 8;
	width: 400px;
	min-height: 298px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 267px;
}

#u817-3
{
	z-index: 54;
	width: 5px;
	margin-left: 711px;
	margin-top: 31px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}
