.version.blog /* version checker */
{
	color: #00001F;
	background-color: #189F39;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../../images/web_background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 569.50941991342px;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 39px;
}

#u3755
{
	z-index: 44;
	width: 217px;
	margin-left: 46px;
}

#pu3725
{
	width: 0.01px;
	margin-top: 6px;
}

#u3725
{
	z-index: 2;
	width: 317px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

._u3725.f3s_top
{
	height: 51px;
	width: 317px;
}

#menuu3726
{
	z-index: 3;
}

#u3734
{
	width: 78px;
	min-height: 49px;
	margin-right: -10000px;
}

#u3735
{
	z-index: 6;
	width: 78px;
	height: 49px;
	margin-right: -10000px;
}

#pu3735:hover ._u3735.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu3735:active ._u3735.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu3735:hover ._u3735.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu3735:active ._u3735.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu3735.MuseMenuActive ._u3735.f3s_top,#pu3735:hover ._u3735.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu3735:active ._u3735.f3s_bot
{
	width: 78px;
	height: 7px;
}

#u3748
{
	width: 78px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u3751
{
	z-index: 16;
	width: 78px;
	height: 49px;
	margin-right: -10000px;
}

#pu3735.MuseMenuActive ._u3735.f3s_bot,#pu3751:hover ._u3751.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu3751:active ._u3751.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu3735.MuseMenuActive ._u3735.f3s_mid,#pu3751:hover ._u3751.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu3751:active ._u3751.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu3751.MuseMenuActive ._u3751.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu3751.MuseMenuActive ._u3751.f3s_top,#pu3751:hover ._u3751.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu3751:active ._u3751.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu3751.MuseMenuActive ._u3751.f3s_bot
{
	width: 78px;
	height: 7px;
}

#u3737-4_clip,#u3753-4_clip
{
	width: 78px;
	height: 22px;
}

#pu3735:hover #u3735,#pu3735:active #u3735,#pu3735.MuseMenuActive #u3735,#pu3751:hover #u3751,#pu3751:active #u3751,#pu3751.MuseMenuActive #u3751
{
	width: 78px;
	height: 49px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3741
{
	width: 79px;
	min-height: 49px;
	margin-right: -10000px;
	left: 160px;
}

#u3744
{
	z-index: 26;
	width: 79px;
	height: 49px;
	margin-right: -10000px;
}

#pu3744:hover ._u3744.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu3744:active ._u3744.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu3744:hover ._u3744.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu3744:active ._u3744.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu3744.MuseMenuActive ._u3744.f3s_top,#pu3744:hover ._u3744.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu3744:active ._u3744.f3s_bot
{
	width: 79px;
	height: 7px;
}

#u3727
{
	width: 79px;
	min-height: 49px;
	margin-right: -10000px;
	left: 241px;
}

#pu3735,#pu3751,#pu3744,#pu3730
{
	width: 0.01px;
}

#u3730
{
	z-index: 36;
	width: 79px;
	height: 49px;
	margin-right: -10000px;
}

#pu3744.MuseMenuActive ._u3744.f3s_bot,#pu3730:hover ._u3730.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu3730:active ._u3730.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu3744.MuseMenuActive ._u3744.f3s_mid,#pu3730:hover ._u3730.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu3730:active ._u3730.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu3730.MuseMenuActive ._u3730.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu3730.MuseMenuActive ._u3730.f3s_top,#pu3730:hover ._u3730.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu3730:active ._u3730.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu3730.MuseMenuActive ._u3730.f3s_bot
{
	width: 79px;
	height: 7px;
}

#u3746-4_clip,#u3732-4_clip
{
	width: 79px;
	height: 22px;
}

#u3737-4,#u3753-4,#u3746-4,#u3732-4
{
	margin-right: -10000px;
	top: 13px;
}

#pu3735:hover #u3737-4,#pu3735:active #u3737-4,#pu3735.MuseMenuActive #u3737-4,#pu3751:hover #u3753-4,#pu3751:active #u3753-4,#pu3751.MuseMenuActive #u3753-4,#pu3744:hover #u3746-4,#pu3744:active #u3746-4,#pu3744.MuseMenuActive #u3746-4,#pu3730:hover #u3732-4,#pu3730:active #u3732-4,#pu3730.MuseMenuActive #u3732-4
{
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#pu3744:hover #u3744,#pu3744:active #u3744,#pu3744.MuseMenuActive #u3744,#pu3730:hover #u3730,#pu3730:active #u3730,#pu3730.MuseMenuActive #u3730
{
	width: 79px;
	height: 49px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#menuu3726-bw
{
	z-index: 3;
	margin-top: 1px;
	height: 49px;
}

#u3760
{
	z-index: 49;
	width: 301px;
	margin-left: 9px;
	margin-top: 30px;
}

#u3764-4
{
	z-index: 51;
	width: 269px;
	min-height: 110px;
	margin-left: 21px;
	margin-top: 30px;
}

#u3757-3
{
	z-index: 46;
	width: 5px;
	left: -98px;
	margin-top: 16px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

