.version.index /* version checker */
{
	color: #00001E;
	background-color: #4B48A3;
}

@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background: #FFFFFF url("../../images/web_background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 565.5094199134198px;
	padding-top: 4px;
	padding-bottom: 0px;
}

#u3064
{
	z-index: 44;
	width: 217px;
	margin-left: 46px;
}

#pu2810
{
	width: 0.01px;
	margin-top: 6px;
}

#u2810
{
	z-index: 2;
	width: 317px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

._u2810.f3s_top
{
	height: 51px;
	width: 317px;
}

#menuu2811
{
	z-index: 3;
}

#u2812
{
	width: 78px;
	min-height: 49px;
	margin-right: -10000px;
}

#u2815
{
	z-index: 6;
	width: 78px;
	height: 49px;
	margin-right: -10000px;
}

#pu2815:hover ._u2815.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu2815:active ._u2815.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu2815:hover ._u2815.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu2815:active ._u2815.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu2815.MuseMenuActive ._u2815.f3s_top,#pu2815:hover ._u2815.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu2815:active ._u2815.f3s_bot
{
	width: 78px;
	height: 7px;
}

#u2819
{
	width: 78px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u2820
{
	z-index: 16;
	width: 78px;
	height: 49px;
	margin-right: -10000px;
}

#pu2815.MuseMenuActive ._u2815.f3s_bot,#pu2820:hover ._u2820.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu2820:active ._u2820.f3s_top
{
	width: 78px;
	height: 7px;
}

#pu2815.MuseMenuActive ._u2815.f3s_mid,#pu2820:hover ._u2820.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu2820:active ._u2820.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu2820.MuseMenuActive ._u2820.f3s_mid
{
	width: 78px;
	height: 35px;
}

#pu2820.MuseMenuActive ._u2820.f3s_top,#pu2820:hover ._u2820.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu2820:active ._u2820.f3s_bot
{
	width: 78px;
	height: 7px;
}

#pu2820.MuseMenuActive ._u2820.f3s_bot
{
	width: 78px;
	height: 7px;
}

#u2816-4_clip,#u2823-4_clip
{
	width: 78px;
	height: 22px;
}

#pu2815:hover #u2815,#pu2815:active #u2815,#pu2815.MuseMenuActive #u2815,#pu2820:hover #u2820,#pu2820:active #u2820,#pu2820.MuseMenuActive #u2820
{
	width: 78px;
	height: 49px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2826
{
	width: 79px;
	min-height: 49px;
	margin-right: -10000px;
	left: 160px;
}

#u2829
{
	z-index: 26;
	width: 79px;
	height: 49px;
	margin-right: -10000px;
}

#pu2829:hover ._u2829.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu2829:active ._u2829.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu2829:hover ._u2829.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu2829:active ._u2829.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu2829.MuseMenuActive ._u2829.f3s_top,#pu2829:hover ._u2829.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu2829:active ._u2829.f3s_bot
{
	width: 79px;
	height: 7px;
}

#u2833
{
	width: 79px;
	min-height: 49px;
	margin-right: -10000px;
	left: 241px;
}

#pu2815,#pu2820,#pu2829,#pu2834
{
	width: 0.01px;
}

#u2834
{
	z-index: 36;
	width: 79px;
	height: 49px;
	margin-right: -10000px;
}

#pu2829.MuseMenuActive ._u2829.f3s_bot,#pu2834:hover ._u2834.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu2834:active ._u2834.f3s_top
{
	width: 79px;
	height: 7px;
}

#pu2829.MuseMenuActive ._u2829.f3s_mid,#pu2834:hover ._u2834.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu2834:active ._u2834.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu2834.MuseMenuActive ._u2834.f3s_mid
{
	width: 79px;
	height: 35px;
}

#pu2834.MuseMenuActive ._u2834.f3s_top,#pu2834:hover ._u2834.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu2834:active ._u2834.f3s_bot
{
	width: 79px;
	height: 7px;
}

#pu2834.MuseMenuActive ._u2834.f3s_bot
{
	width: 79px;
	height: 7px;
}

#u2831-4_clip,#u2836-4_clip
{
	width: 79px;
	height: 22px;
}

#u2816-4,#u2823-4,#u2831-4,#u2836-4
{
	margin-right: -10000px;
	top: 13px;
}

#pu2815:hover #u2816-4,#pu2815:active #u2816-4,#pu2815.MuseMenuActive #u2816-4,#pu2820:hover #u2823-4,#pu2820:active #u2823-4,#pu2820.MuseMenuActive #u2823-4,#pu2829:hover #u2831-4,#pu2829:active #u2831-4,#pu2829.MuseMenuActive #u2831-4,#pu2834:hover #u2836-4,#pu2834:active #u2836-4,#pu2834.MuseMenuActive #u2836-4
{
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#pu2829:hover #u2829,#pu2829:active #u2829,#pu2829.MuseMenuActive #u2829,#pu2834:hover #u2834,#pu2834:active #u2834,#pu2834.MuseMenuActive #u2834
{
	width: 79px;
	height: 49px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#menuu2811-bw
{
	z-index: 3;
	margin-top: 1px;
	height: 49px;
}

#u3255-4
{
	z-index: 109;
	margin-left: 98px;
	margin-top: 16px;
}

#u3252
{
	z-index: 107;
	width: 168px;
	margin-left: 63px;
	margin-top: 9px;
}

#u3229-4
{
	z-index: 103;
	width: 211px;
	min-height: 177px;
	margin-left: 53px;
	margin-top: 14px;
}

#slideshowu3067
{
	z-index: 46;
	width: 0.01px;
	height: 221px;
	margin-left: 49px;
	margin-top: 8px;
}

#u3069popup
{
	z-index: 47;
}

#u3069
{
	width: 208px;
	height: 165px;
	left: 2px;
}

#u3072
{
	z-index: 48;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3129
{
	z-index: 50;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3129_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u3144
{
	z-index: 52;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3159
{
	z-index: 54;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3174
{
	z-index: 56;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3174_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u3189
{
	z-index: 58;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3072_img,#u3144_img,#u3159_img,#u3189_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u3214
{
	z-index: 60;
	width: 208px;
	height: 165px;
	margin-right: -10000px;
}

#u3072_clip,#u3129_clip,#u3144_clip,#u3159_clip,#u3174_clip,#u3189_clip,#u3214_clip
{
	width: 208px;
	height: 165px;
}

#u3214_img
{
	margin-top: -13px;
	margin-bottom: -14px;
}

#u3077popup
{
	z-index: 62;
}

#u3077
{
	width: 105px;
	top: 165px;
}

#u3079-4
{
	z-index: 63;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3135-4
{
	z-index: 67;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3150-4
{
	z-index: 71;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3165-4
{
	z-index: 75;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3180-4
{
	z-index: 79;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3195-4
{
	z-index: 83;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3220-4
{
	z-index: 87;
	width: 85px;
	min-height: 36px;
	padding: 10px;
	margin-right: -10000px;
}

#u3092-4popup
{
	z-index: 91;
}

#u3092-4
{
	width: 48px;
	min-height: 36px;
	padding: 10px;
	top: 165px;
	left: 121px;
}

#u3076-4popup
{
	z-index: 95;
}

#u3076-4
{
	width: 10px;
	min-height: 36px;
	padding: 10px;
	top: 165px;
	left: 102px;
}

#u3082-4popup
{
	z-index: 99;
}

#u3082-4
{
	width: 4px;
	min-height: 36px;
	padding: 10px;
	top: 165px;
	left: 186px;
}

body
{
	position: relative;
	min-width: 320px;
}

#page .verticalspacer
{
	clear: both;
}

