.version.contact /* version checker */
{
	color: #000005;
	background-color: #9E79D8;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/web_background.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9546233766237px;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 10px;
}

#u2674
{
	z-index: 2;
	width: 296px;
	margin-left: 206px;
}

#pu2679
{
	z-index: 4;
	width: 0.01px;
	position: relative;
	margin-left: 16px;
	margin-top: 25px;
}

#u2679
{
	z-index: 0;
	width: 728px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u2679.f3s_mid
{
	width: 728px;
	height: 37px;
}

._u2679.f3s_top,._u2679.f3s_bot
{
	width: 728px;
	height: 12px;
}

#pmenuu2645
{
	width: 0.01px;
	position: relative;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 1px;
}

#menuu2645
{
	z-index: 5;
	width: 727px;
	margin-right: -10000px;
}

#u2667
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
}

#u2670
{
	z-index: 8;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu2670:hover ._u2670.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2670:active ._u2670.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2670:hover ._u2670.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2670:active ._u2670.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2670.MuseMenuActive ._u2670.f3s_top,#pu2670:hover ._u2670.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu2670:active ._u2670.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u2653
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
	left: 182px;
}

#u2654
{
	z-index: 18;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu2670.MuseMenuActive ._u2670.f3s_bot,#pu2654:hover ._u2654.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2654:active ._u2654.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2670.MuseMenuActive ._u2670.f3s_mid,#pu2654:hover ._u2654.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2654:active ._u2654.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2654.MuseMenuActive ._u2654.f3s_top,#pu2654:hover ._u2654.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu2654:active ._u2654.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u2660
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
	left: 364px;
}

#u2661
{
	z-index: 28;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu2654.MuseMenuActive ._u2654.f3s_bot,#pu2661:hover ._u2661.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2661:active ._u2661.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu2654.MuseMenuActive ._u2654.f3s_mid,#pu2661:hover ._u2661.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2661:active ._u2661.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2661.MuseMenuActive ._u2661.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu2661.MuseMenuActive ._u2661.f3s_top,#pu2661:hover ._u2661.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu2661:active ._u2661.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu2661.MuseMenuActive ._u2661.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u2671-4_clip,#u2655-4_clip,#u2664-4_clip
{
	width: 180px;
	height: 22px;
}

#pu2670:hover #u2670,#pu2670:active #u2670,#pu2670.MuseMenuActive #u2670,#pu2654:hover #u2654,#pu2654:active #u2654,#pu2654.MuseMenuActive #u2654,#pu2661:hover #u2661,#pu2661:active #u2661,#pu2661.MuseMenuActive #u2661
{
	width: 180px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2646
{
	width: 181px;
	min-height: 54px;
	margin-right: -10000px;
	left: 546px;
}

#pu2670,#pu2654,#pu2661,#pu2649
{
	width: 0.01px;
}

#u2649
{
	z-index: 38;
	width: 181px;
	height: 54px;
	margin-right: -10000px;
}

#pu2649:hover ._u2649.f3s_top
{
	width: 181px;
	height: 7px;
}

#pu2649:active ._u2649.f3s_top
{
	width: 181px;
	height: 7px;
}

#pu2649:hover ._u2649.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu2649:active ._u2649.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu2649.MuseMenuActive ._u2649.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu2649.MuseMenuActive ._u2649.f3s_top,#pu2649:hover ._u2649.f3s_bot
{
	width: 181px;
	height: 7px;
}

#pu2649:active ._u2649.f3s_bot
{
	width: 181px;
	height: 7px;
}

#pu2649.MuseMenuActive ._u2649.f3s_bot
{
	width: 181px;
	height: 7px;
}

#u2652-4_clip
{
	width: 181px;
	height: 22px;
}

#u2671-4,#u2655-4,#u2664-4,#u2652-4
{
	margin-right: -10000px;
	top: 16px;
}

#pu2670:hover #u2671-4,#pu2670:active #u2671-4,#pu2670.MuseMenuActive #u2671-4,#pu2654:hover #u2655-4,#pu2654:active #u2655-4,#pu2654.MuseMenuActive #u2655-4,#pu2661:hover #u2664-4,#pu2661:active #u2664-4,#pu2661.MuseMenuActive #u2664-4,#pu2649:hover #u2652-4,#pu2649:active #u2652-4,#pu2649.MuseMenuActive #u2652-4
{
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#pu2649:hover #u2649,#pu2649:active #u2649,#pu2649.MuseMenuActive #u2649
{
	width: 181px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u2695-4
{
	z-index: 52;
	margin-left: 211px;
	margin-top: 99px;
}

#pu2681-3
{
	width: 0.01px;
	margin-left: -204px;
	margin-top: 17px;
}

#u2681-3
{
	z-index: 49;
	width: 5px;
	margin-right: -10000px;
	margin-top: 92px;
}

#u2696-11
{
	z-index: 56;
	width: 344px;
	min-height: 137px;
	margin-right: -10000px;
	left: 433px;
}

#u2680-3
{
	z-index: 46;
	width: 5px;
	margin-left: 244px;
	margin-top: 537px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

