.version.index /* version checker */
{
	color: #000009;
	background-color: #5AB69A;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/web_background.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 930.9546233766237px;
	padding: 10px 28px 83.04537662337634px 12px;
}

#u2123
{
	z-index: 2;
	width: 296px;
	margin-left: 194px;
}

#pu3355
{
	z-index: 98;
	width: 0.01px;
	position: relative;
	margin-top: 24px;
}

#u3355
{
	z-index: 0;
	width: 728px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u3355.f3s_mid
{
	width: 728px;
	height: 37px;
}

._u3355.f3s_top,._u3355.f3s_bot
{
	width: 728px;
	height: 12px;
}

#pmenuu3356
{
	width: 0.01px;
	position: relative;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 1px;
}

#menuu3356
{
	z-index: 99;
	width: 727px;
	margin-right: -10000px;
}

#u3357
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
}

#u3358
{
	z-index: 102;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu3358:hover ._u3358.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3358:active ._u3358.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3358:hover ._u3358.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3358:active ._u3358.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3358.MuseMenuActive ._u3358.f3s_top,#pu3358:hover ._u3358.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu3358:active ._u3358.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u3364
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
	left: 182px;
}

#u3367
{
	z-index: 112;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu3358.MuseMenuActive ._u3358.f3s_bot,#pu3367:hover ._u3367.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3367:active ._u3367.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3358.MuseMenuActive ._u3358.f3s_mid,#pu3367:hover ._u3367.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3367:active ._u3367.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3367.MuseMenuActive ._u3367.f3s_top,#pu3367:hover ._u3367.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu3367:active ._u3367.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u3378
{
	width: 180px;
	min-height: 54px;
	margin-right: -10000px;
	left: 364px;
}

#u3379
{
	z-index: 122;
	width: 180px;
	height: 54px;
	margin-right: -10000px;
}

#pu3367.MuseMenuActive ._u3367.f3s_bot,#pu3379:hover ._u3379.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3379:active ._u3379.f3s_top
{
	width: 180px;
	height: 7px;
}

#pu3367.MuseMenuActive ._u3367.f3s_mid,#pu3379:hover ._u3379.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3379:active ._u3379.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3379.MuseMenuActive ._u3379.f3s_mid
{
	width: 180px;
	height: 40px;
}

#pu3379.MuseMenuActive ._u3379.f3s_top,#pu3379:hover ._u3379.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu3379:active ._u3379.f3s_bot
{
	width: 180px;
	height: 7px;
}

#pu3379.MuseMenuActive ._u3379.f3s_bot
{
	width: 180px;
	height: 7px;
}

#u3361-4_clip,#u3370-4_clip,#u3381-4_clip
{
	width: 180px;
	height: 22px;
}

#pu3358:hover #u3358,#pu3358:active #u3358,#pu3358.MuseMenuActive #u3358,#pu3367:hover #u3367,#pu3367:active #u3367,#pu3367.MuseMenuActive #u3367,#pu3379:hover #u3379,#pu3379:active #u3379,#pu3379.MuseMenuActive #u3379
{
	width: 180px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#u3371
{
	width: 181px;
	min-height: 54px;
	margin-right: -10000px;
	left: 546px;
}

#pu3358,#pu3367,#pu3379,#pu3374
{
	width: 0.01px;
}

#u3374
{
	z-index: 132;
	width: 181px;
	height: 54px;
	margin-right: -10000px;
}

#pu3374:hover ._u3374.f3s_top
{
	width: 181px;
	height: 7px;
}

#pu3374:active ._u3374.f3s_top
{
	width: 181px;
	height: 7px;
}

#pu3374:hover ._u3374.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu3374:active ._u3374.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu3374.MuseMenuActive ._u3374.f3s_mid
{
	width: 181px;
	height: 40px;
}

#pu3374.MuseMenuActive ._u3374.f3s_top,#pu3374:hover ._u3374.f3s_bot
{
	width: 181px;
	height: 7px;
}

#pu3374:active ._u3374.f3s_bot
{
	width: 181px;
	height: 7px;
}

#pu3374.MuseMenuActive ._u3374.f3s_bot
{
	width: 181px;
	height: 7px;
}

#u3377-4_clip
{
	width: 181px;
	height: 22px;
}

#u3361-4,#u3370-4,#u3381-4,#u3377-4
{
	margin-right: -10000px;
	top: 16px;
}

#pu3358:hover #u3361-4,#pu3358:active #u3361-4,#pu3358.MuseMenuActive #u3361-4,#pu3367:hover #u3370-4,#pu3367:active #u3370-4,#pu3367.MuseMenuActive #u3370-4,#pu3379:hover #u3381-4,#pu3379:active #u3381-4,#pu3379.MuseMenuActive #u3381-4,#pu3374:hover #u3377-4,#pu3374:active #u3377-4,#pu3374.MuseMenuActive #u3377-4
{
	margin-right: -10000px;
	top: 9px;
	left: 0px;
}

#pu3374:hover #u3374,#pu3374:active #u3374,#pu3374.MuseMenuActive #u3374
{
	width: 181px;
	height: 54px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu2347-4
{
	width: 0.01px;
	margin-top: 42px;
}

#u2347-4
{
	z-index: 88;
	width: 400px;
	min-height: 249px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 280px;
}

#u2348
{
	z-index: 92;
	width: 255px;
	margin-right: -10000px;
	margin-top: 43px;
}

#u2348_clip
{
	width: 255px;
	height: 255px;
}

#u2348_img
{
	margin-bottom: -1px;
}

#u2351-4
{
	z-index: 94;
	margin-right: -10000px;
	left: 16px;
}

#slideshowu2280
{
	z-index: 7;
	width: 0.01px;
	height: 437px;
	margin-left: 100px;
	margin-top: 12px;
}

#u2304popup
{
	z-index: 8;
}

#u2304
{
	width: 508px;
	height: 397px;
	left: 58px;
}

#u2319
{
	z-index: 9;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2317
{
	z-index: 11;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2317_img
{
	padding: 13px 14px 12px;
}

#u2311
{
	z-index: 13;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2307
{
	z-index: 15;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2319_img,#u2311_img,#u2307_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u2305
{
	z-index: 17;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2305_img
{
	padding: 17px 14px;
}

#u2315
{
	z-index: 19;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2313
{
	z-index: 21;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2313_clip
{
	width: 508px;
	height: 397px;
}

#u2313_img
{
	margin: -22px 14px -23px;
}

#u2309
{
	z-index: 23;
	width: 508px;
	height: 397px;
	margin-right: -10000px;
}

#u2315_img,#u2309_img
{
	padding: 19px 14px 18px;
}

#u2287popup
{
	z-index: 25;
}

#u2287
{
	width: 76px;
	padding-bottom: 7px;
}

#u2294
{
	z-index: 26;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	left: 8px;
}

#u2294.SSSlideLinkSelected
{
	margin: 0px -10000px 0px 0px;
}

#u2300
{
	z-index: 28;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 8px;
}

#u2300.SSSlideLinkSelected
{
	margin: 55px -10000px 0px 0px;
}

#u2300_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u2288
{
	z-index: 30;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 110px;
	left: 8px;
}

#u2288.SSSlideLinkSelected
{
	margin: 110px -10000px 0px 0px;
}

#u2290
{
	z-index: 32;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 165px;
	left: 8px;
}

#u2290.SSSlideLinkSelected
{
	margin: 165px -10000px 0px 0px;
}

#u2296
{
	z-index: 34;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 220px;
	left: 8px;
}

#u2296.SSSlideLinkSelected
{
	margin: 220px -10000px 0px 0px;
}

#u2292
{
	z-index: 36;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 275px;
	left: 8px;
}

#u2292.SSSlideLinkSelected
{
	margin: 275px -10000px 0px 0px;
}

#u2302
{
	z-index: 38;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 330px;
	left: 8px;
}

#u2302.SSSlideLinkSelected
{
	margin: 330px -10000px 0px 0px;
}

#u2300_clip,#u2302_clip
{
	width: 60px;
	height: 45px;
}

#u2302_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u2298
{
	z-index: 40;
	width: 60px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 385px;
	left: 8px;
}

#u2298.SSSlideLinkSelected
{
	margin: 385px -10000px 0px 0px;
}

#u2321popup
{
	z-index: 42;
}

#u2321
{
	width: 349px;
	top: 377px;
	left: 76px;
}

#u2328-4
{
	z-index: 43;
	margin-right: -10000px;
}

#u2323-5
{
	z-index: 47;
	margin-right: -10000px;
}

#u2327-4
{
	z-index: 52;
	margin-right: -10000px;
}

#u2326-4
{
	z-index: 56;
	margin-right: -10000px;
}

#u2325-4
{
	z-index: 60;
	margin-right: -10000px;
}

#u2322-4
{
	z-index: 64;
	margin-right: -10000px;
}

#u2324-4
{
	z-index: 68;
	margin-right: -10000px;
}

#u2329-4
{
	z-index: 72;
	margin-right: -10000px;
}

#u2286-4popup
{
	z-index: 76;
}

#u2286-4
{
	width: 48px;
	min-height: 20px;
	padding: 10px;
	top: 377px;
	left: 457px;
}

#u2330-4popup
{
	z-index: 80;
}

#u2330-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 377px;
	left: 426px;
}

#u2285-4popup
{
	z-index: 84;
}

#u2285-4
{
	width: 10px;
	min-height: 20px;
	padding: 10px;
	top: 377px;
	left: 526px;
}

#u2279-3
{
	z-index: 4;
	width: 5px;
	margin-left: 232px;
	margin-top: 28px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

