#u2451
{
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	filter: alpha(opacity=44);
}

._u2451.f3s_top
{
	background-image: url("../../images/u3355-sprite.png");
	overflow: hidden;
	background-position: left top;
}

._u2451.f3s_mid
{
	background-image: url("../../images/u3355-sprite.png");
	overflow: visible;
	background-position: -728px top;
}

._u2451.f3s_bot
{
	background-image: url("../../images/u3355-sprite.png");
	overflow: visible;
	background-position: -1456px top;
}

#pu2387:hover ._u2387.f3s_top
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2387:active ._u2387.f3s_top
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2387:hover ._u2387.f3s_mid
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2387:active ._u2387.f3s_mid
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2387:hover ._u2387.f3s_bot
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2387:active ._u2387.f3s_bot
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2387.MuseMenuActive ._u2387.f3s_top,#pu2382:hover ._u2382.f3s_top
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2382:active ._u2382.f3s_top
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2387.MuseMenuActive ._u2387.f3s_mid,#pu2382:hover ._u2382.f3s_mid
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2382:active ._u2382.f3s_mid
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2387.MuseMenuActive ._u2387.f3s_bot,#pu2382:hover ._u2382.f3s_bot
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2382:active ._u2382.f3s_bot
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2382.MuseMenuActive ._u2382.f3s_top,#pu2373:hover ._u2373.f3s_top
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2373:active ._u2373.f3s_top
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2373.MuseMenuActive ._u2373.f3s_top
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2382.MuseMenuActive ._u2382.f3s_mid,#pu2373:hover ._u2373.f3s_mid
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2373:active ._u2373.f3s_mid
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2373.MuseMenuActive ._u2373.f3s_mid
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -180px top;
}

#pu2382.MuseMenuActive ._u2382.f3s_bot,#pu2373:hover ._u2373.f3s_bot
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2373:active ._u2373.f3s_bot
{
	background-image: url("../../images/u3358-m-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#pu2373.MuseMenuActive ._u2373.f3s_bot
{
	background-image: url("../../images/u3358-r-sprite.png");
	overflow: visible;
	background-position: -360px top;
}

#u2387,#u2382,#u2373,#u2368
{
	background-color: transparent;
	position: relative;
}

#pu2368:hover ._u2368.f3s_top
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2368:active ._u2368.f3s_top
{
	background-image: url("../../images/u3374-m-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2368.MuseMenuActive ._u2368.f3s_top
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu2368:hover ._u2368.f3s_mid
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: visible;
	background-position: -181px top;
}

#pu2368:active ._u2368.f3s_mid
{
	background-image: url("../../images/u3374-m-sprite.png");
	overflow: visible;
	background-position: -181px top;
}

#pu2368.MuseMenuActive ._u2368.f3s_mid
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: visible;
	background-position: -181px top;
}

#pu2368:hover ._u2368.f3s_bot
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: visible;
	background-position: -362px top;
}

#pu2368:active ._u2368.f3s_bot
{
	background-image: url("../../images/u3374-m-sprite.png");
	overflow: visible;
	background-position: -362px top;
}

#pu2368.MuseMenuActive ._u2368.f3s_bot
{
	background-image: url("../../images/u3374-r-sprite.png");
	overflow: visible;
	background-position: -362px top;
}

#u2390-4_clip,#u2384-4_clip,#u2374-4_clip,#u2371-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u2390-4_img,#u2384-4_img,#u2374-4_img,#u2371-4_img
{
	display: block;
}

#pu2387:hover #u2387,#pu2387:active #u2387,#pu2387.MuseMenuActive #u2387,#pu2382:hover #u2382,#pu2382:active #u2382,#pu2382.MuseMenuActive #u2382,#pu2373:hover #u2373,#pu2373:active #u2373,#pu2373.MuseMenuActive #u2373,#pu2368:hover #u2368,#pu2368:active #u2368,#pu2368.MuseMenuActive #u2368
{
	background: none;
	-pie-background: none;
	border-style: none;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	position: relative;
}

#u2517
{
	position: absolute;
}

#u2532-5
{
	line-height: 20px;
	color: #FFFFFF;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2532-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2532
{
	line-height: 20px;
}

#u2532-2
{
	font-size: 18px;
	line-height: 25px;
}

#u2528,#u2533,#u2518,#u2523
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u2529-5,#u2534-5,#u2522-5,#u2521-5,#u2525-5
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2537-4,#u2524-4
{
	line-height: 25px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2530,#u2535,#u2519,#u2526
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2539
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u2539:hover
{
	background-color: #000000;
}

#u2539:active
{
	background-color: #000000;
}

#u2540
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u2540.png") no-repeat 0px 0px;
}

#u2539:hover #u2540
{
	background: url("../../images/u2540-r.png") no-repeat 0px 0px;
}

#u2539.PamphletThumbSelected #u2540
{
	background: url("../../images/u2540-a.png") no-repeat 0px 0px;
}

#u2546
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u2539.PamphletThumbSelected,#u2546:hover
{
	background-color: #000000;
}

#u2546:active
{
	background-color: #000000;
}

#u2547
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u2547.png") no-repeat 0px 0px;
}

#u2546:hover #u2547
{
	background: url("../../images/u2547-r.png") no-repeat 0px 0px;
}

#u2546:active #u2547
{
	background: url("../../images/u2547-m.png") no-repeat 0px 0px;
}

#u2546.PamphletThumbSelected #u2547
{
	background: url("../../images/u2547-a.png") no-repeat 0px 0px;
}

#u2541
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u2541:hover
{
	background-color: #000000;
}

#u2541:active
{
	background-color: #000000;
}

#u2543
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u2543.png") no-repeat 0px 0px;
}

#u2541:hover #u2543
{
	background: url("../../images/u2543-r.png") no-repeat 0px 0px;
}

#u2541.PamphletThumbSelected #u2543
{
	background: url("../../images/u2543-a.png") no-repeat 0px 0px;
}

#u2544
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u2544:hover
{
	background-color: #000000;
}

#u2544:active
{
	border-color: #000000;
	background-color: #000000;
}

#u2541.PamphletThumbSelected,#u2544.PamphletThumbSelected
{
	border-color: #000000;
}

#u2545-4
{
	background-color: #000000;
	color: #FFFFFF;
	position: relative;
}

#u2544.PamphletThumbSelected #u2545-4
{
	background-color: #000000;
}

#u2544:hover #u2545-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u2544:active #u2545-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u2544.PamphletThumbSelected #u2545-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u2395,#menuu2364,#u2386,#u2390-4,#u2379,#u2384-4,#u2372,#u2374-4,#u2365,#u2371-4,#pamphletu2514,#u2538,#u2542-3,#u2552-3,#u2448-3
{
	position: relative;
}

